@page
@model RegisterModel
@{
    ViewData["Title"] = "Registracija";
}

<div class="container d-flex align-items-center justify-content-center" style="min-height: 70vh;">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm card-termin">
            <div class="card-header text-center bg-primary text-white">
                <h5 class="mb-0">Registracija korisnika</h5>
            </div>

            <div class="card-body">
                <form id="registerForm"
                      asp-route-returnUrl="@Model.ReturnUrl"
                      method="post">

                    <div asp-validation-summary="ModelOnly"
                         class="text-danger mb-3"
                         role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" />
                        <label asp-for="Input.FirstName">Ime</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password"
                               class="form-control"
                               autocomplete="new-password"
                               aria-required="true" />
                        <label asp-for="Input.Password">Lozinka</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <input asp-for="Input.ConfirmPassword"
                               class="form-control"
                               autocomplete="new-password"
                               aria-required="true" />
                        <label asp-for="Input.ConfirmPassword">Potvrdi lozinku</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button id="registerSubmit"
                            type="submit"
                            class="w-100 btn btn-primary">
                        Registriraj
                    </button>
                </form>
            </div>

            <div class="card-footer text-center">
                <span class="small">Već imaš račun?</span>
                <a asp-page="./Login" class="small">Prijavi se</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
