html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-bg {
    background-image: url('../images/Hotanj4.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 120px);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-termin {
    background-color: #ffffff;
    backdrop-filter: blur(2px);
}

.container-main {
    margin-top: 0;
    padding-top: 0;
}